.Number{
    top: 29px !important;
    left: 32px;
    width: 95%;
    height: 90%;
    background-color: #29b6f6;
    border-radius: 5px;
}
.Box{
    width: 60px;
    height: 60px;
    background: white;
    text-align: center;
    padding: 0px;
}
.root{
    width: 700px;
    height: 700px;
    padding: 100px;
}
.Success{
    background: #73f06a !important;
    border-radius: 5px;
}
.Blank{
    background: white !important;
    color: white;
}
